html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

header {
    position: absolute;
    z-index: 9999;
    background-color: #fdfeeb;
    height: 320px;
    width: 100%;
}

header * {
    position: relative;
}

.header__bg {
    border-bottom: #fbef00;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #ff9900, #ffaa00);
    transform: skewY(-6deg);
    transform-origin: top left;
}

nav {
    margin: 1rem;
    width: 50vw;
    max-width: 600px;
    right: 0;
    float: right;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    nav {
        display: none !important;
    }
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

p {
    font-family: 'Literata', serif;
    font-size: 23px;
    cursor: default;
}

a {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    transition-duration: 0.5s;
}

a:hover {
    transform: scale(1.2);
}

.container {
    position: static;
}
section {
    position: sticky;
    height: 100vh;
    bottom: 0;
    border-bottom: solid #ff9900;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(179, 0, 0, 0.2);
}

.textContainer {
    margin: auto;
    /* max-height: calc(100vh - 350px); */
}

.firstTextContainer {
    margin: 350px auto auto 3vw;
}

.imageContainer {
    width: 100%;
    max-height: 100vh;
}

.aboutContainer {
    padding: 0 2rem 0 7rem;
}

.manualContainer {
    padding: 0 7rem 0 5rem;
}

.section1 {
    background-color: #fdfeeb;
    display: grid;
    grid-template-columns: 47% 53%;
    z-index: 6;
}

.doorPicture {
    grid-column: 1 / 2;
    justify-self: end;
    margin: 320px 3vw auto 0;
    height: calc(100vh - 350px);
}

.section2 .coopPicture {
    height: 100%;
    float: right;
}

.section1 div{
    grid-column: 2 / 3;
}

.paragraph1 {
    margin: 3rem auto 5rem auto;
}

.section2 {
    background-color: #e5fcd4;
    display: grid;
    grid-template-columns: 50% 50%;
    /* height: auto; */
    z-index: 5;
}

.section3 {
    background-color: #fdfeeb;
    display: grid;
    grid-template-columns: 50% 50%;
    /* height: auto; */
    z-index: 4;
}

.section4 {
    background-image: url('assets/unnamed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

.section5 {
    background-color: #e5fcd4;
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 2;
}


.cart {
    height: 1.7rem;
    padding: 5px 10px 0 1rem ;
}

.my-button {
    font-family:  'Montserrat', sans-serif;
    font-size: 24px;
    height: 3rem;
    padding: 0 1rem 0 1rem; 
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 3px 5px 2px #fbef00;
    background-color: #ff9900;
    transition-duration: 0.1s;
}

.my-button:hover {
    transform: scale(1.03);
}

.my-button div{
    display: inline;
    position: relative;
    top: -5px;
    padding-right: 1rem;
}

.youtubeVideo {
    margin: auto 0 auto auto;
}
.youtubeVideo iframe {
    width: 40vw;
    height: calc(0.5625 * 40vw);
}

.my-input {
    font-family: 'Literata', serif;
    font-size: 18px;
    height: 3rem;
    width: 100%;
    padding: 0 1rem 0 1rem;
    border-radius: 2rem;
    outline: none;
    border-color: #ff9900;
    border-style: solid;
    display: inline-block;
    background-color: #fdfeeb;
}

.eshopContainer {
    display: grid;
    grid-template-columns: 10% 20% 20% 40% 10%;
    grid-template-rows: 20vh 15vh 5rem 5rem 5rem 16vh 10vh;
    grid-template-areas: ". . . . ."
    ". A A A ."
    ". B X . ."
    ". C C . ."
    ". D E . ."
    ". F F . ."
    ". . . . .";
}

.eshopContainer h2 {
    grid-area: A;
}
.ifirstname {
    grid-area: B;
    width: 97.5%;
}
.ilastname {
    position: relative;
    left: 2.5%;
    grid-area: X;
    width: 97.5%;
}
.iaddress {
    grid-area: C;
}
.icity {
    grid-area: D;
    width: 97.5%;
}
.ipsc {
    position: relative;
    left: 2.5%;
    grid-area: E;
    width: 97.5%;
}
.submit {
    margin: 4rem 0 0 0;
    grid-area: F;
}
::placeholder { 
    color: #8a9781;
    opacity: 1;
  }

.inputLabel {
    margin: 2rem 0 0.2rem 1rem;
}